<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 align="center">Главная страница</h1>
<h2>Относительные ссылки:</h2>
<ul>
  <li><marquee><a href="./index2.html">Index2</a></marquee></li>
  <li><a href="./index3.html">Registration</a></li>
  <li><a href="tenor.gif">Secret</a></li>
</ul>

<h2>Абсолютные ссылки:</h2>
<ul>
   <li><a href="https://github.com/jxcorra/python-tasks/blob/tms-playbooks-webdev/playbooks/webdev/hw1.py">First</a></li>
  <li><a href="https://www.notion.so/16-Django-Flask-c114b95e207b48aaa121bfd499ec1d37">Secord</a></li>
</ul>

<h2><a href="calculator.html">Calculator</a></h2>

<hr>
<b>Time:</b> {{datetime }}

</body>
</html>