<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Третья страница</h1>

<form>
    <div class="container">
        <label for="name"><b>Name</b></label>
    <input type="text" placeholder="Enter name" name="name" required>
        <label for="surname"><b>Surname</b></label>
    <input type="text" placeholder="Enter surname" name="surname" required>
        <label for="comment"><b>Comments</b></label>
    <input type="text" placeholder="Enter the comment" name="comment" required>
    <hr>
        <button style="height:25px;width:100px; position: relative; left:50%; transform: translate(-50%,0)" type="submit" class="registerbtn" width=300px >Register</button>
    </div>

</form>

</body>
</html>